<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Семён Головин</title>
</head>
<style type="text/css">
body {
    background-color: Gainsboro;
    }
p, div, span {
    font-size: 22px;
    }
</style>
<body>
<h1>Семён Головин</h1>
<img src="https://cdn1.flamp.ru/eb5bc87c328f3ed53e95ba578d6e3307.jpg" height="400" alt="Головин Семён"><br>
<h2>Немного о нём</h2>
<p>С первого взгляда, абсолютно заурядный человек ведущий преимущественно домашний неспешный образ жизни.</p>
<p>Но он не так прост, ведь у него есть <a href="https://www.linkedin.com/in/semyon-golovin-6711a2212/" target="_blank">акк</a> в
    LinkedIn. <em>Oh My Goosh!!!</em></p>
<p>Он его не ведет, специально, пусть думают что он весь такой "<stong>таинственный</stong>"</p>
<p>А фотка сделана на викторине <mark>Квиз Плиз</mark>, пусть думают, что он эрудированный парень.</p>
<p>Есть оперативные сведения, от майора, что Семён купил 2 чемодана. Хотел один <span style="color: cyan">голубой
</span>,
    другой <span style="color: yellow;">желтый</span>, но передумал. <br><br>Пусть думают, что просто для
        <del>путешествий
    </del>. </p>
<div>Дивик использовать!</div>

</body>
</html>
